# Local environment variables
.env
token_cache_*.json


# Python caches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Streamlit logs and configurations
.streamlit/
venv/
env/
ENV/
